$layout-breakpoint-small: 960px
$color-dark: rgb(33 37 41)
$color-light: rgb(248, 249, 250)

//:host
//  --breakpointSmall: #{$layout-breakpoint-small}

body
  background: white
  // background: radial-gradient(circle, rgba(33, 37, 41, 0.1) 0%, #ffffff 100%)
  //background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(33, 37, 41, 0.05) 50%, rgba(255, 255, 255, 0) 100%)
  //background: linear-gradient(0deg, transparent 0%, rgba(33, 37, 41, 0.05) 50%, transparent 100%)
  //background: linear-gradient(0deg, $color-light 0%, $color-dark 50%, $color-light 100%)
  //background: linear-gradient(0deg, transparent 0%, rgba($color-dark, 0.05) 50%, transparent 100%)
  margin: 0
  color: $color-dark

p
  max-width: $layout-breakpoint-small
  margin-top: 0
  margin-bottom: .5rem

h1
  margin-top: 5rem
  margin-bottom: 3rem

h2,h3
  margin-top: 2rem
  margin-bottom: .5rem

label
  font-style: italic
  padding-left: 3px
  //font-weight: bold
  //display: block
  //text-align: center
  //padding-left: .3rem

button
  padding: .5rem
  margin: .5rem

.background-dimmed
  background: $color-light

.grid-3, .grid-3x2
  display: grid
  grid-template-columns: repeat(3, calc(100%/3))

.grid-3x2
  //display: grid
  //grid-template-columns: repeat(3, calc(100%/3))
  grid-template-rows: repeat(2, auto)
  grid-auto-flow: column
  
@media (max-width: $layout-breakpoint-small)
  .grid-3
    grid-template-columns: auto
  .grid-3x2
    grid-template-columns: 100%
    grid-template-rows: repeat(6, auto)
    //grid-auto-flow: column

.nav-elem
  background: $color-dark

.textarea
  display: block
  padding: 1px 3px
  border: 1px solid #ccc
  font-family: inherit
  font-size: inherit
  min-height: 2rem
  white-space: pre-wrap
    
.longDescription
  //margin-top: 1rem
  margin-bottom: .5rem
  //max-width: $layout-breakpoint-small

.largeTextarea
  margin-top: .2rem
  margin-bottom: 1rem
  background: white

.box-center
  display: flex
  justify-content: center

.text-center
  text-align: center !important

.mt-3
  margin-top: 1rem !important

.mb-4
  margin-bottom: 1.5rem !important

.pt-0
  padding-top: 1px !important

.pt-3
  padding-top: 1rem !important

.pb-4
  padding-bottom: 1.5rem !important

.pb-5
  padding-bottom: 3rem !important

.px-25
  padding-left: .75rem !important
  padding-right: .75rem !important

.px-4
  padding-left: 1.5rem !important
  padding-right: 1.5rem !important

.py-1
  padding-top: .25rem !important
  padding-bottom: .25rem !important

.py-4
  padding-top: 1.5rem !important
  padding-bottom: 1.5rem !important